div.ex3 {
  background-color: lightblue;
  width: inherit;
  height: inherit
  overflow: auto;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #A9A9A9;
   color: white;
   text-align: center;
}



